---
import StepHeader from "./StepHeader.astro";

---

<section class="bg-slate-900">
    <div class="p-12 pt-24 text-stone-300 max-w-6xl mx-auto">
        <StepHeader number="2">Let's launch some new content</StepHeader>
        <div class="grid gap-6 md:grid-cols-2 items-start my-12 dark:text-white">
      
        </div>
        <h1 class="text-white text-4xl md:text-[1.4rem] font-bold leading-tighter tracking-tighter mb-4">How we did it</h1>
        <p class="mb-8">On this demo, we’ve added Netlify in
            front of your existing site to globally 
            cache the pages. The performance you
            are seeing comes from our global
            edge network. </p>
        <h1 class="text-white text-4xl md:text-[1.4rem] font-bold leading-tighter tracking-tighter mb-4">Learn more</h1>
        <ul>
            <li>Make your site performance faster</li>
            <li>Help you ship new features faster</li>
            <li>Personalize pages right on the edge</li>
        </ul>        


    </div>    
</section>
